@{
    ViewBag.Title = "Контакти";
}

@section styles
{
    <link href="~/Content/css/about.css" rel="stylesheet" />
}

<section class="map">
    <header>
        <h3>Къде се намираме...</h3>
    </header>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5917.381324835115!2d24.725106749251164!3d42.13550511249524!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1513510891600" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section class="team">
    <header>
        <h3>Кои сме ние...</h3>
    </header>
    <p>Иван Петров - създател</p>
    <p>Магдалена Иванова - HR</p>
    <p>Стефан Димов - музикант</p>
    <p>Петър Динев - програмист</p>
</section>
<section class="contacts">
    <header>
        <h3>За връзка...</h3>
    </header>
    <p>Телефон: +359 884 135 634</p>
    <p>Имейл: info@contrabass.com</p>
    <p>Facebook: contrabass магазин</p>
    <p>Instagram: @@contrabass</p>
    <p>Skype: contrabass_store</p>
</section>

