@{
    ViewBag.Title = "contrabass";
}

@section styles
{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}

<section class="news">
    <header>
        <h2>Ново...</h2>
    </header>
    <article>
        <div>
            <img src="img/elliot.jpg" alt="Elliot Galvin trio">
            <p>
                През 2014 г. трио "Елиът Галвин" бяха обявени за победители в наградата "Европейски млад джаз изпълнител на годината" в Германия. През същата година издадоха своя дебютен албум "Dreamland". Guardian ги нарече "окуражително завършени", Джез Нелсън казва: "Може би един от най-силните дебюти, които съм чувал от доста дълго време от британски изпълнители - изключително смел и прогресивен", а немското джаз списание "JazzThing" обяви албума им за албум на годината. "The Influencing Machine" е вторият им албум и дебютът им за водещ европейски джаз етикет. Издаден през септември тази година, той вече получава международно признание, като The Evening Standard го нарича "вдъхновяващо и благозвучно".
            </p>
        </div>
        <div>
            <img src="img/steve.jpg" alt="Steve Blum trio">
            <p>
                "Phases" е серия от минималистични класически вдъхновени парчета за синтезатор. Преодолявайки разликата между класическата музика, класическата електронна музика и импровизираната авангард, този албум се доближава до идеята за синтезатор като инструмент. Подобно на традиционните инструменти, синтезаторите имат индивидуални личности в широк звуков спектър. Този конкретен инструмент, Vermona Perfourmer, има уникална четири гласови архитектури - по същество четири монофонични синтеза в едно. Някои от парчетата са написани за четири отделни гласа, сякаш членове на ансамбъла, а други предават бележки от глас на глас във въртяща се ротация.
            </p>
        </div>
        <div>
            <img src="img/keenan.jpg" alt="Keenan McKenzie trio">
            <p>
                Кинън Макензи е добре познат саксофонист от Корнуол, Англия. Ако сте добре запознати с неговата музика, то новият му албум "Forged in Rhythm" определено ще ви допадне. Албумът съдържа 7 оригинално написани песни. Както и предишните му три албума, този също е въздействан от суинг музиката от 40-те. Някои от музикантите, стоящи зад албума са: Гордън Ал (тромпет), Джонатан Стът (китара), Крис Даусън (пиано), Сет Йънг (бас), Джош Колазо (барабани). Албумът вече е номиниран за най-различни европейски джаз награди. Освен това, ще можете да чуете триото на живо на 20 декември в зала 1 на НДК. Билети може да закупите в мрежата на Eventim.
            </p>
        </div>
    </article>
</section>
<section class="offer">
    <header>
        <h2>Какво предлагаме...</h2>
    </header>
    <article>
        <div>
            <i class="fa fa-database" aria-hidden="true"></i>
            <h3>Нови заглавия</h3>
        </div>
        <div>
            <i class="fa fa-truck" aria-hidden="true"></i>
            <h3>Бърза доставка</h3>
        </div>
        <div>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <h3>Ниски цени</h3>
        </div>
    </article>
</section>
<section class="about_us">
    <header>
        <h2>Какво казват нашите клиенти...</h2>
    </header>
    <article>
        <div>
            <blockquote>
                <p>Досега не си бях купувал грамофонни плочи онлайн. Бях малко скептично настроен отначало, но веднъж щом получих продуктите, бях приятно изненадан.</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Изключително съм доволна от покупките на грамофонни плочи в contrabass. Бих препоръчала на всеки!</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>contrabass е една страхотна възможност да си припомниш старите времена. Голямото разнообразие от стари класически песни наистина показва колко сериозно се отнасят към работата си от екипа на магазина.</p>
            </blockquote>
        </div>
    </article>
</section>