@{
    ViewBag.Title = "Профил";
}

@section styles
{
    <link href="~/Content/css/products.css" rel="stylesheet" />
}

<section class="products">
    <header>
        <h2>fsdfdsf</h2>
    </header>
    <article>
        <div>
            <p class="price">fdsdfsdf</p>

            <a href="">Добави</a>
        </div>
    </article>
</section>

<section class="products">
    <header>
        <h2>fsdfdsf</h2>
    </header>
    <article>
        <div>
            <p class="price">fdsdfsdf</p>

            <a href="">Добави</a>
        </div>
    </article>
</section>

<section class="products">
    <header>
        <h2>fsdfdsf</h2>
    </header>
    <article>
        <div>
            <p class="price">fdsdfsdf</p>

            <a href="">Добави</a>
        </div>
    </article>
</section>