@{
    ViewBag.Title = "Регистрация";
}

@section styles
{
    <link href="~/Content/css/register.css" rel="stylesheet" />
}

<section id="form-container">
    <header>
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <h2>Стани наш клиент</h2>
        <p>Безплатно е и отнема по-малко от 30 секунди.</p>
    </header>


    <div class="form">
        <form action="" method="post">
            <input type="text" placeholder="Никнейм"/>
            <input type="text" placeholder="Име">
            <input type="text" placeholder="Фамилия">
            <input type="password" placeholder="Парола">

            <button>Регистрирация</button>
        </form>
    </div>
</section>

